<div class="container-divider"></div>
<div class="container">
  <nav>
    <div class="article-search">
    {{search scoped=settings.scoped_kb_search submit=false class="search search-right"}}
    <div>
  </nav>
    {{#is article.title 'Overview'}}
      <!--
      <p class="getting-started">
        <img class="getting-started-img" src="{{asset 'overview.png'}}">
      </p>
      -->
      <h1 class="center">Welcome to Solar Analytics</h1>
      <div class="video-wrapper">
        <iframe width="560" height="300" src="https://www.youtube.com/embed/Az5qFnRAZqo" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
      </div>
    {{/is}}
    <div>
      <aside class="getting-started-sidebar">
        <div class="collapsible-sidebar">
          <button type="button" class="collapsible-sidebar-toggle" aria-labelledby="section-articles-title" aria-expanded="false"></button>
          <div class="collapsible-sidebar-body">
            <ol class="gs-nav-list">
              {{#each section.articles}}
                {{#is @index 0}}
                  <li>
                    <a href="{{url}}" class="sidenav-item {{#is id ../article.id}}current-article{{/is}}">{{title}}</a>
                  </li>
                {{else}}
                  <li class="gss-nav">></li>
                  <li>
                    <a href="{{url}}" class="gs-nav sidenav-item {{#is id ../article.id}}current-article{{/is}}">{{title}}</a>
                  </li>
                {{/is}}
              {{/each}}
            </ol>
          </div>
        </div>
      </aside>
      <div class="gs-sidebar">
        <aside class="article-sidebar">
          <div class="gs-collapsible-sidebar">
            <button type="button" class="collapsible-sidebar-toggle" aria-labelledby="section-articles-title" aria-expanded="false"></button>
            <div class="gs-sidenav collapsible-sidebar-body">
            </div>
          </div>
        </aside>
      </div>

      <div class="gs-article-body">{{article.body}}</div>

      <footer>
        <div class="article-footer">
          {{#if settings.show_article_sharing}}
            <div class="article-share">{{share}}</div>
          {{/if}}
          {{#if settings.show_article_comments}}
            {{#if comments}}
              <a href="#article-comments" class="article-comment-count">
                <span class="icon-comments"></span>
                {{article.comment_count}}
              </a>
            {{/if}}
          {{/if}}
        </div>
        {{#with article}}
          <div class="article-votes">
            <span class="article-votes-question">{{t 'was_this_article_helpful'}}</span>
            <div class="article-votes-controls" role='radiogroup'>
              {{vote 'up' role='radio' class='button article-vote article-vote-up'}}
              {{vote 'down' role='radio' class='button article-vote article-vote-down'}}
            </div>
            <small class="article-votes-count">
              {{vote 'label' class='article-vote-label'}}
            </small>
          </div>
        {{/with}}

        <div class="article-more-questions">
          {{request_callout}}
        </div>
        <div class="article-return-to-top">
          <a href="#article-container">{{t 'return_to_top'}}<span class="icon-arrow-up"></span></a>
        </div>
      </footer>

      {{#if settings.show_article_comments}}
        <div class="article-comments" id="article-comments">
          <section class="comments">
            <header class="comment-overview">
              <h2 class="comment-heading">
                {{t 'comments'}}
              </h2>
              <p class="comment-callout">{{t 'comments_count' count=article.comment_count}}</p>
              {{#if comments}}
                <div class="dropdown comment-sorter">
                  <button class="dropdown-toggle" aria-haspopup="true">
                    {{t 'sort_by'}}
                  </button>
                  <span class="dropdown-menu" role="menu">
                    {{#each comment_sorters}}
                      <a aria-selected="{{selected}}" href="{{url}}" role="menuitem">{{name}}</a>
                    {{/each}}
                  </span>
                </div>
              {{/if}}
            </header>

            <ul id="comments" class="comment-list">
              {{#each comments}}
                <li id="{{anchor}}" class="comment">
                  <div class="comment-wrapper">
                    <div class="comment-info">
                      <div class="comment-author">
                        <div class="avatar comment-avatar">
                          {{#if author.agent}}
                            <span class="icon-agent"></span>
                          {{/if}}
                          <img src="{{author.avatar_url}}" alt="" class="user-avatar"/>
                        </div>
                        <div class="comment-meta">
                          <span title="{{author.name}}">
                            {{#link 'user_profile' id=author.id}}
                              {{author.name}}
                            {{/link}}
                          </span>

                          <ul class="meta-group">
                            {{#if editor}}
                              <li class="meta-data">{{date edited_at timeago=true}}</li>
                              <li class="meta-data">{{t 'edited'}}</li>
                            {{else}}
                              <li class="meta-data">{{date created_at timeago=true}}</li>
                            {{/if}}
                          </ul>
                        </div>
                        <div class="comment-labels">
                          {{#with ticket}}
                            <a href="{{url}}" target="_zendesk_lotus" class="status-label escalation-badge">
                              {{t 'request'}}{{id}}
                            </a>
                          {{/with}}
                          {{#if pending}}
                            <span class="comment-pending status-label status-label-pending">{{t 'pending_approval'}}</span>
                          {{/if}}
                        </div>
                      </div>

                      <section class="comment-body">{{body}}</section>
                    </div>

                    <div class="comment-actions-container">
                      <div class="comment-vote vote" role='radiogroup'>
                        {{vote 'up' role='radio' class='vote-up' selected_class='vote-voted'}}
                        {{vote 'sum' class='vote-sum'}}
                        {{vote 'down' role='radio' class='vote-down' selected_class='vote-voted'}}
                      </div>
                      <div class="comment-actions actions">
                        {{actions}}
                      </div>
                    </div>
                  </div>
                </li>
              {{/each}}
            </ul>

            {{pagination}}

            {{#form 'comment' class='comment-form'}}
              <div class="avatar comment-avatar">
                {{user_avatar class='user-avatar'}}
              </div>
              <div class="comment-container">
                {{wysiwyg 'body'}}
                <div class="comment-form-controls">
                  {{input type='submit'}}
                </div>
              </div>
            {{/form}}

            <p class="comment-callout">{{comment_callout}}</p>
          </section>
        </div>
      {{/if}}
    </div>
</div>
